.content-grid,
.footer-container,
#card-content,
#process-cards,
.secondary-card-content,
#about-content,
.process-content {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
}

@media (min-width: 961px) {
	#about-content {
		grid-template-columns: 1fr 2fr;
		margin-left: 13%;
		margin-right: 13%;
	}

	.mobile {
		display: none;
	}

	.screen-to-portable-1 {
		display: block;
	}

	.screen-to-portable-2 {
		display: none;
	}

	#about-content img {
		justify-items: center;
	}

	#about-content .about-text {
		margin-left: 2rem;
	}

	.secondary-card-content {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#card-content {
		grid-template-columns: 1fr;
	}

	#process-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.index-banner {
		display: none;
	}

	.card {
		margin-top: 2rem;
		width: 100%;
		height: 300px;
	}

	.card p {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}

	.card input {
		right: 0;
		bottom: 0;
		width: 150px;
		margin-bottom: 2rem;
		margin-right: 2rem;
	}

	.card img {
		width: 100%;
		height: 100%;
	}

	.process-content {
		grid-template-columns: 1fr 1fr;
	}

	.span-content {
		grid-column: 1 / span 2;
	}

	.span-full-content {
		grid-column: 1 / span 3;
	}


	.swap1 {
		display: block;
	}

	.swap2 {
		display: none;
	}

	#about-content {
		margin-bottom: 5rem;
	}

	#top-page {
		position: fixed;
		right: 5%;
		top: 70%;
	}

	.project-card {
		border: 1rem;
	}
}

@media (min-width: 811px) and (max-width: 960px) {

	.screen-to-portable-2 img {
		width: 36vw;
		height: auto;
	}

	#landing-banner iframe {
		margin-bottom: -40%;
	}

	.prototype-link {
		top: 0;
	}

	.card p {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}

	.mobile {
		display: none;
	}

	.screen-to-portable-1 {
		display: none;
	}

	.screen-to-portable-2 {
		display: block;
	}

	#card-content,
	#process-cards,
	.secondary-card-content {
		grid-template-columns: 1fr 1fr;
	}

	

	.index-banner {
		display: none;
	}


	#landing-banner {
		margin-bottom: 0rem;
		z-index: 1
	}

	#about-content {
		grid-template-columns: 1fr;

	}

	#about-content img {
		display: grid;
		place-self: center;
		margin: 2rem;
	}

	.process-content {
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.image-gallery {
		grid-template-columns: 2fr;
	}

	.image-gallery {
		grid-template-columns: 1fr 1fr;
	}

	.image-gallery .image-box:nth-child(7n+1) {
		grid-column: unset;
		grid-row: unset;
	}

	.swap1 {
		display: block;
	}

	.swap2 {
		display: none;
	}

	#about-content {
		gap: 2rem;
		margin: 2rem;
	}

	#top-page {
		position: fixed;
		right: 5%;
		top: 70%;
	}

	.containerA,
	.containerB {
		width: 100%;
	}


	.project-card h1 {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		font-size: 1rem;
	}

	.project-card p {
		padding-top: 0rem;
		padding-left: 1rem;
		padding-right: 0rem;
		margin-right: 1rem;
	}

	.project-card h2 {
		padding-bottom: 2rem;
		display: none;
	}

	.containerA,
	.containerB {
		transform: translateY(100%);
		width: 100%;
		height: 50%;
	}

	.banner-text img {
		margin-left: 1rem;
		padding-right: 6rem;
		margin-top: -2rem;
	}

	.banner-text img {
		margin-bottom:1rem;
	}
}

@media (max-width: 810px) {
	.screen-to-portable-2 img {
		width: 70vw;
		height: auto;
	}

	.prototype-link {
		top: 0;
	}

	.swap1,
	.banner-text,
	.about-me {
		display: none;
	}

	.swap2 {
		display: block;
	}

	.mobile-about-content {
		grid-template-columns: 1fr;
	}

	.mobile-about-content img {
		display: grid;
		place-self: center;
		margin: 2rem;
	}

	.screen-to-portable-1 {
		display: none;
	}

	.screen-to-portable-2 {
		display: block;
	}


	#landing-banner {
		margin-bottom: 0rem;
		z-index: 1;
	}


	#card-content,
	#process-cards,
	.secondary-card-content {
		grid-template-columns: 1fr;
	}

	#card-content {
		gap: 1rem;
	}

	.process-content {
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.image-gallery {
		grid-template-columns: 1fr;
	}

	.image-gallery .image-box:nth-child(7n+1) {
		grid-column: unset;
		grid-row: unset;
	}

	.navbar {
		bottom: 0;
		justify-content: center;
	}

	.brand-title {
		display: none;
	}

	#about-content {
		display: none;
	}

	h3 {
		color: rgb(99, 63, 167);
		font-size: 22.5px;
		letter-spacing: 2px;
	}

	.containerA,
	.containerB {
		transform: translateY(100%);
		width: 100%;
		height: 50%;
	}

	.project-card h1 {
		line-height: 3rem;
		padding-top: 2rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		font-size: 3rem;
	}

	.project-card p {
		padding-top: 0rem;
		padding-left: 1rem;
		padding-right: 2rem;
		margin-right: 1rem;
	}

	.project-card h2 {
		margin-bottom: 1.5rem;
		margin-left: 1rem;
	}	
	
	.card p {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}	

	#top-page {
		position: fixed;
		right: 10px;
		top: 54%;
	}
}

@media (max-width: 1400px) and (min-width: 1169px) {
	#about-content {
		margin-left: 7%;
		margin-right: 5%;
	}

	.screen-to-portable-1 {
		display: none;
	}

	.screen-to-portable-2 {
		display: block;
		width: 8rem;
	}

	#card-content{
		padding-left: 2rem;
		width: 85vw;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#card-content {
		gap: 1rem;
	}


	.screen-to-portable-2 img {
		width: 25vw;
		height: auto;
	}


	.project-card h1 {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1rem;
	}

	.project-card p {
		padding-top: 0rem;
		padding-left: 1rem;
		padding-right: 2rem;
		margin-right: 1rem;
	}

	.project-card h2 {
		display: none;
	}

	.containerA,
	.containerB {
		transform: translateY(100%);
		width: 100%;
		height: 50%;
	}
}

@media (max-width: 1170px) and (min-width: 961px) {
	#about-content {
		margin-left: 7%;
		margin-right: 5%;
	}

	.screen-to-portable-1 {
		display: none;
	}

	.screen-to-portable-2 {
		display: block;
		width: 8rem;
	}

	#card-content{
		padding-left: 2rem;
		width: 85vw;
		grid-template-columns: 1fr 1fr;
	}

	.screen-to-portable-2 img {
		width: 40vw;
		height: auto;
	}

	.project-card h1 {
		padding-top: 2rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		font-size: 2rem;
	}

	.project-card p {
		padding-top: 0rem;
		padding-left: 2rem;
		padding-right: 1rem;
		margin-right: 1rem;
	}

	.project-card h2 {
		display: none;
		margin-left: 2rem;
		margin-bottom: 2rem;
	}

	.containerA,
	.containerB {
		transform: translateY(100%);
		width: 100%;
		height: 50%;
	}

	.project-card h2 {
		display: flex;
	}	
}

@media (max-width: 960px) {
	#about-content {
		margin-left: 12%;
		margin-right: 12%;
	}

}

@media (max-width: 660px) {
	.project-card h1 {
		padding-top: 0.7rem;
		margin-bottom: 0rem;
		padding-bottom: 0rem;
		padding-left: 1rem;
		font-size: 1rem;
	}

	
}