* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

.dark-theme {
    --primary-color1: rgb(244, 244, 244);
    --secondary-color1: black;
    --primary-color2: rgb(99, 63, 167);
    --secondary-color2: rgb(255, 219, 57);
    --primary-color3: rgb(40, 25, 66);
    --secondary-color3: rgb(255, 246, 210);
    --primary-color4: rgb(70, 42, 119);
    --secondary-color4: rgb(255, 242, 189);
    --primary-color5: rgb(216, 216, 216);
    --secondary-color5:  black;
    --primary-color6: rgb(84, 54, 139);
    --secondary-color6:  white;
    --primary-color7: rgb(99, 63, 167);
    --secondary-color7: #FF8DDF;
}

:root {
    --primary-color1: #171717;
    --secondary-color1: white;
    --primary-color2: rgb(255, 219, 57);
    --secondary-color2: rgb(99, 63, 167);
    --primary-color3: rgb(255, 249, 225);
    --secondary-color3: rgb(40, 25, 66);
    --primary-color4: rgb(255, 242, 189);
    --secondary-color4: rgb(70, 42, 119);    
    --primary-color5:  black;
    --secondary-color5: rgb(216, 216, 216);   
    --primary-color6:  white; 
    --secondary-color6: rgb(84, 54, 139);
    --primary-color7: rgb(99, 63, 167);
    --secondary-color7: #71F0DA;
}

#darkmode {
    width: 20px;
    cursor: pointer;
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hidden {
    display: none;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: medium;
    background: var(--primary-color1);
    color: var(--secondary-color1);
    line-height: 2rem;
    
    font-size: large;
}

nav a { 
    font-family: 'Mukta', sans-serif;
}

h1 {
    font-family: 'Mukta', sans-serif;
    color: var(--primary-color2);
    line-height: 2rem;
    padding-top: 2rem;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Mukta', sans-serif;
    font-size: large;
}

.mobile h2 {
    color: var(--primary-color3);
    font-weight: bold;
    font-size: 2.2rem;
}

h3 {
    line-height: 10px;
    font-weight: normal;
    font-size: medium;
}

.mobile h3 {
    line-height: 2rem;
}

h4 {
    font-weight: normal;
    color: var(--primary-color2);
}

li {
    margin-bottom: 2rem;
}

#ttcaption figcaption {
    transform: translate(0%, 0%);

}

a {
    color: var(--primary-color7);
}

a:hover {
    transition: 0.2s;
    color: var(--secondary-color7);
}

button {
    background-color: var(--primary-color3);
    color: var(--secondary-color3);
    text-decoration: none;
    border: none;
    transition: 0.3s;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: var(--secondary-color3);
    color: var(--primary-color3);
}

/*Learned from
https://code-boxx.com/image-zoom-css-javascript/*/
.zoom {
    height: auto;
    transition: transform ease-in-out 0.3s;
}

.zoom:hover {
    transform: scale(1.2);
}

/*iframe responsiveness learned from chatGPT &
https://www.benmarshall.me/responsive-iframes/*/
.iframe-container {
    margin-top: 2rem;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*Scrollbar learned from
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp*/
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(40, 25, 66);
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color5);
}
/* Navbar learned from
https://www.youtube.com/watch?v=At4B7A4GOPg&t=39s&ab_channel=WebDevSimplified*/
#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 3.5rem;
    top: 0;
    justify-content: right;
    background-color: rgb(40, 25, 66);
    color: white;
    z-index: 61;
}

#contact-icons {    
    position: fixed;
    top: 3.7rem;
    left: -1.6rem;
    z-index: 60;
}


#navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar-links li {
    position: relative;
    list-style: none;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    font-weight: 600;
    letter-spacing: 2.5px;
}

#navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    padding-top: 0.7em;
    padding-bottom: 0.5rem;
    display: block;
}

#navbar-links a:hover {
    color: rgb(255, 219, 57);
}

#navbar-links a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background: rgb(255, 219, 57);
    top: 0;
    transition: all ease-in-out 250ms;
    position: absolute;
}

#navbar-links a:hover::before {
    width: 70%;
}

/*pull-quote*/

.pull-quote {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    font-style: italic;
    margin: 20px 0;
  }
  
  .pull-quote p {
    margin: 0;
  }
  
  .pull-quote footer {
    font-size: 0.8em;
    margin-top: 10px;
  }
  
  .pull-quote::before,
  .pull-quote::after {
    content: '"';
    position: absolute;
    font-size: 3em;
    color: var(--primary-color2);
  }
  
  .pull-quote::before {
    top: -10px;
    left: -20px;
  }
  
  .pull-quote::after {
    display: none;
  }

/*Banner Set-up*/

.brand-title {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 1.5rem;
    color: rgb(255, 219, 57);
    font-family: 'Righteous','Mukta', sans-serif;
}

.brand-title:hover {
    transition: all 0.5s ease-out;
    color: white;
}


.banner-img {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.banner-text {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.banner-text img {
    margin-top: -0.5rem;
    margin-left:-5rem;
    margin-bottom: -10rem;
    width: 110vw; 
    height: 110vh;
}

.banner-text h1 {
    font-family: 'Righteous','Mukta', sans-serif;
    margin-top: 8rem;
    font-size: 10rem;
    margin-bottom: 3rem;
    letter-spacing: 1rem;
    color: var(--primary-color3);
}

.banner-text h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 16px;
    margin-top: 15px;
}

.banner-text h4 {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    color: var(--primary-color3);
}

.content-grid {
    background: var(--primary-color);
    position: relative;
    margin: 0rem;
    z-index: 1;
}


/*Hero*/
.hero {
    align-items: center;
    justify-content: center;
}

.hero img{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
}

.hero h1{   
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--primary-color6);
}

.hero .text {
    position: absolute;
    top: 15vh;
    left: 20vh;
}

.hero p {
    padding-top: 3rem; 
    padding-bottom: 0.5rem;
}

/*Button Animation*/
.btn {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background:rgb(40, 25, 66);
    color:#fff;
    overflow: hidden; 
    z-index: 1;
    border-radius: 0.5rem;  
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.tough-titties::before {
    background: #F0B2E6;
}

.tavern-buddies::before {
    background: #620000;
}

.vancouver-tool-library::before {
    background: #F6D854;
}

.btn:hover::before {
    width: 500px;
    height: 500px;
}

.hero a:hover {
    color:#fff;
}

/*Card styling learned from 
https://www.w3schools.com/howto/howto_css_cards.asp*/

#card-content,  
.secondary-card-content {
    width: 75vw; 
}

.secondary-card {
    padding: 1rem;
}

.card-margin {
    gap: 1rem; 
    padding-bottom: 2rem;
}

.secondary-card-content {
    margin-top: 2rem; 
    justify-items: center;
}

.secondary-card-content .card {
    transform: translate(-50%, 0);
    position: relative;
    max-width: 250px;
    border-radius: 30px;
    margin-bottom: 5rem;
    height: 29rem;
    text-align: center;
    display: block;
    background-color: rgb(70, 42, 119);
}

.secondary-card-content .ux-card {
    height: 22rem;
}
  
.secondary-card-content .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 10px;
}

.secondary-card-content .card p {
    padding-top: 0.4rem;
    text-decoration: none;
    color: white;
}

.secondary-card-content .card figcaption {
    position: absolute;
    color: white;
    padding: 3rem 1rem 1rem 1rem;
    display: none;
}

.secondary-card-content .card:hover img {
    opacity: 0.15;
    transition: 0.3s;
}

.card .smartwatch:hover img {
    opacity: 1;
}

.secondary-card-content .card:hover img .smartwatch {
    opacity: 0;
}

.secondary-card-content .smartwatch :hover img {
    opacity: 100;
}

.secondary-card-content .card h2 {
    padding-left: 0px;
    color: white;
    top: 50%;
}

.card:hover figcaption {
    display: initial;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 525px;
    border: 1px;
}

.card p {
    line-height: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.card h2 {
    color: var(--primary-color);
    padding-left: 20px;
    padding-top: 10px;
}

.card button {
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
}

.project-card {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.15);
}
 
.project-card2{
    position: relative;
    border-radius: 15px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.15);
}

#card-content iframe {
    justify-content: space-around;
    gap: 2rem;
    display: grid;
    -webkit-overflow-scrolling: touch;
    border: none;
    overflow: auto;
    height: 24rem;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    pointer-events: visible;
}

.containerA {
    position: absolute;
    z-index: 1;
    background: transparent;
    width: 50%;
    height: 100%;
}

.containerB {
    position: absolute;
    z-index: 1;
    background: transparent;
    right: 0;
    width: 50%;
    height: 100%;
}

.containerC {
    position: absolute;
    z-index: 1;
    background: transparent;
    right: 0;
    width: 100%;
    height: 50%;
    transform: translateY(90%);
}

.containerB h1 {
    padding-left: 5rem;
}

.containerA h1,
.containerB h1 {
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.containerC h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.containerA h1,
.containerA p {
    padding-left: 3rem;
}

.containerA p {
    margin-right: 7rem;
}

.containerB p {
    padding-left: 5rem;
    padding-right: 4rem;
}

.containerA h2,
.containerB h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.containerC h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0rem;
    padding: 1rem;
    border-radius: 10px;
}

.containerC p, .containerC h1, 
.containerC h2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.containerB h2 {
    margin-left: 5rem;
    opacity: 0.7;
}

.containerA h2 {
    margin-left: 3rem;
    opacity: 0.7;

}

.containerA h2:hover,
.containerB h2:hover,
.containerC h2:hover {
    opacity: 1;
    transition-duration: 0.2s;
}

/*set up footer elements here*/
.footer-container {
    background: var(--primary-color5);
    padding: 1rem 0rem 2rem;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;

}

.footer-container a {
    line-height: 2;
    color: var(--primary-color4);
    cursor: pointer;
}

.footer-container h4 {
    margin-bottom: 0.5rem;
    transition-duration: 0.4s;
}

.footer-container a:hover {
    color: var(--secondary-color7);
}

.footer-contacts {
    float: left;
    margin-bottom: 2rem;
}

.footer-links {
    float: right;
}

.footer img {
    margin-right: 0.5rem;
}

.footer h4 {
    color: var(--secondary-color1);
}

.mobile-footer {
    padding-bottom: 3rem;
}

/*Set up about section*/

.mobile-about-content,
#about-content {
    width: 75vw;  
}

.mobile-about-content img,
#about-layout img {
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.15);
}

.mobile-about-content img {
    width: 75vw;
    height: auto;
    margin-top: 2rem;
}

.mobile-about-content p,
#about-content p, #about-layout p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#about-layout h2 {
    font-size: 2rem;
    color: var(--primary-color3);
}

#about-layout h1 {
    margin-bottom: 2rem;
}

/*Set up process for different projects*/
.process-content {
    width: 75vw;
    position: relative;
    margin: auto;
    gap: 2rem;
    line-height: 2;
}

.process {
    background-color: var(--primary-color1);
}

.process-content .txtover {
    position: relative;
}

.process-content .txtover figcaption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1rem;
    background-color: rgb(255, 219, 57, 0.7);
}

.process-content .txtover:hover figcaption {
    opacity: 0;
    transition: 0.3s;
}

.process-content img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.process-content p {
    margin-bottom: 1.5rem;
}

.process-content h1 {
    padding-bottom: 2rem;
}


/*Menus for illustration*/
.sub-menu .info {
    height: 100%;
    max-width: 50%;
}

/*masonry set up*/
.image-gallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
}

.image-gallery .image-box {
    position: relative;
    background-color: var(--primary-color);
    overflow: hidden;
}

.image-gallery .image-box:nth-child(7n+1) {
    grid-column: span 2;
    grid-row: span 2;
}

.image-gallery .image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.5s ease;
}

.image-gallery .image-box:hover img {
    transform: scale(1.1);
}

.image-gallery .image-box .overlay {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

.image-gallery .image-box:hover .overlay {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.8;
}

.image-gallery .image-box .details .title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.image-gallery .image-box .details .category {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: -5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.image-gallery .image-box:hover .details .title {
    top: 0px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box:hover .details .category {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.image-gallery .image-box .details .title a {
    color: rgb(99, 63, 167);
}

.image-gallery .image-box .details .category a {
    color: var(--secondary-color);
}

/*Cards in Phone screen size*/
.mobile-card {
    position: relative;
    max-width: 300px;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.mobile-card p {
    color: var(--secondary-color);
    margin-top: 0.6rem;
}

.mobile-card figcaption {
    position: absolute;
    color: var(--primary-color3);
    padding: 5rem 1rem 1rem 1rem;
    display: none;
}

.mobile-card:hover {
    background-color: rgb(255, 233, 143, 0.3);
}

.mobile-card img:hover {
    background-color: #000;
    opacity: 1;
}

.mobile-card:hover img {
    opacity: 0.2;
    transition: 0.3s;
}

.mobile-card:hover figcaption {
    display: initial;
}

/* \/ miscellaneous \/ */
.gotchi-misc {
    display: flex;
}

#mockingbird {
    background: rgb(235, 235, 235);
    width: 1280px;
    height: 828px;
    margin: 5% auto;
}

#hotelcalifornia {
    background: rgb(235, 235, 235);
    width: 100%;
    height: 555px;
    margin: 5% auto;
}

.gotchi-misc .col {
    flex: 50%;
    padding: 5px;
}

.scaledown img {
    width: 50%;
    height: 50%;
}

#top-page {
    /* Button that scrolls top of page. */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 90%;
    z-index: 1;
    margin-top: 10rem;
    margin-bottom: -157rem;
}


.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(40, 25, 66);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .circle-button:hover {
    transform: scale(1.2);
    background-color: rgb(40, 25, 66);
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid #fff;
    margin-bottom: 3px;
  }
  

.mobile-logo {
    color: var(--primary-color2);
    position: absolute;
    font-size: 25px;
    z-index: 2;
    top: 5px;
    left: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Righteous','Mukta', sans-serif;
}

#project-title {
    text-align: center;
}

.prototype-link {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: block;
    text-align: center;
    top: 25%;
    transition: transform ease-in-out 0.3s;
}

.prototype-link h3 {
    padding: 2rem;
    display: block;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background: rgb(40, 25, 66);
    color: white;
    border-radius: 10px;
}

.prototype-link h3:hover {
    background: var(--secondary-color3);
    color: var(--primary-color3);
}

/*Carousel*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:  var(--secondary-color3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; 
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color:  var(--secondary-color1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.breadcrumb-center {
    justify-self: center;
}
 
.active, .dot:hover {
  background-color: var(--secondary-color2);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Loader */
.loader {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}   

.loader::after {  
    content: "";
    width: 75px;
    height: 75px;
    background: rgb(70, 42, 119);
    animation: loader 1s infinite;
    animation-direction: alternate;
}

.loader-active {
    z-index: 9999;
    display: flex;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
        border-radius: 50%;
        background: rgb(255, 219, 57);
        box-shadow: 0px 0px 10px rgb(255, 230, 129);
    }

    to {
        transform: rotate(720deg);
        border-radius: 0%; 
     }
}

/*control*/
.overlay {
    display: none; /* Initially visible */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 9998; /* Place it behind the message */
  }
  
  .message {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    animation: popIn 2s ease forwards; /* Animation applied */
  }
  
  .message p {
    margin: 0;
  }
  
  
  @keyframes popIn {
    from {
      transform: scale(0); /* Start with no scale */
    }
    to {
      transform: scale(1); /* End with full scale */
    }
  }

/* Hero Socials icons */
.hero-icon1 img:hover , .hero-icon2 img:hover , .hero-icon3 img:hover {
    transform: scale(1.2); 
    transition: all 0.2s ease-out;
}

.hero-icon1 img, .hero-icon2 img, .hero-icon3 img {
    width: 100%;
    height: 100%;
}

.h-i-common {
    position: absolute;
    left: 2.4rem;
    width: 66px; /* Adjust the desired width */
    height: 66px;
}

.hero-icon1 {
    top: 1rem;
}

.hero-icon2 {
    top: 5.5rem;
}

.hero-icon3 {
    top: 11rem;
}